---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

.cool-font {
  font-family: "PT Serif";
  font-size: 20px;
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "_sass/syntax-highlighting",
        "_sass/nav",
        "bower_components/bootstrap-sass/assets/stylesheets/bootstrap"
;
