<footer class="">

  <div class="">

    <h2>{{ site.title }}</h2>

    <div>
      <div>
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div>
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>

</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
